/* Style Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    background-color: white;
    height: 100%;
}

.container{
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

a {
    text-decoration: none;
}

/* Estilizando o header */

header{
    text-align: center;
}

header img{
    width: 170px;
    margin-bottom: 20px;
    transition: .5s;
}

header img:hover{
    transform: scale(1.1);
}

main{
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Estilizando imagem lateral */

.img-flut img{
    max-height: 450px;
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar {
    0%{
        top:0;
    }
    100%{
        top:30px;
    }
}

/* Estilizando botoes */

.degrade {
    background: linear-gradient(to right, #b39793, #c88177);
}

.link button {
    width: 200px;
    padding: 10px 20px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    font-size: 1.2em;
    cursor: pointer;
    color: white;
    transition: 0.5s;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom: 20px;
}

.link i {
    font-size: 1.2em;
}

.link button:hover{
    transform: scale(1.1);
}

/* Estilizando footer */

footer{
    text-align: center;
    margin: 40px 10px 10px;
}

footer img{
    width: 150px;
}

footer p{
    font-size: 20px;
}