/* Style Geral */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','sans-serif';
}

html{
    height: 100vh;
    font-size: 14px;
}

body{
    background-color: white;
    height: 100%;
}

.container{
    height: 100%;
    max-width: 550px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

/* Estilizando o header */

header{
text-align: center;
margin-bottom: 40px;
}

header img{
    width: 150px;
    margin-bottom: 20px;
    transition: .5s;
}

header img:hover{
    transform: scale(1.1);
}

/* Estilizando imagem lateral */

/* Estilizando botoes */